body {
  background-color: #f9f9f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-device-width: 320px) and (max-device-width: 732px) {
  .wrapper {
    width: 100%;
    display: flex;
  }
  .top-container {
    display: column;
    overflow: auto;
    font-size: 10px;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .nav {
    flex-direction: row;
    height: 60px;
  }
  .nav img {
    width: 50px;
    height: 50px;
  }
  .nav img:nth-child(2) {
    width: 30px;
    height: 30px;
    align-self: center;
    position: relative;
    bottom: 10px;
  }
  .nav input {
    width: 180px;
    height: 30px;
    position: relative;
    bottom: 18px;
  }
  .nav textarea:focus {
    outline: none;
  }
  .nav input:focus {
    outline: none;
  }
  .nav .login {
    float: right;
    display: flex;
    position: inherit;
  }
  .nav .login a {
    text-decoration: none;
    padding: 16px 4px 0px 5px;
  }
  .menu-list {
    display: flex;
    list-style: none;
    width: 100%;
    float: right;
    padding: 0px 5px 0px 5px;
  }
  .menu-list li {
    flex-direction: row;
    padding: 0px 5px 0px 5px;
  }
  .menu-list li img {
    width: 20px;
    height: 20px;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

@media (min-width: 1024px) {
  /* Styles */
}
